<ul class="form-content">
  <li>
    <%= f.label :login %>
    <br/>
    <%= f.text_field :login %>
  </li>
  <li>
    <%= f.label :password %>
    <br/>
    <%= f.password_field :password %>
  </li>
  <li>
    <%= f.label :password_confirmation %>
    <br/>
    <%= f.password_field :password_confirmation %>
  </li>
  <% f.fields_for :user_profile do |pf| %>
      <li>
        <%= pf.label :email, "Email" %>
        <%= pf.text_field :email %>
      </li>

  <% end %>
</ul>
<div class="actions">
  <%= f.submit %>
</div>